<script type="application/ld+json">
{
  {%- assign author = site.authors | where: "name", page.name | first -%}
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": {{ author.name | escape | jsonify }},
  "description": {{ author.bio | escape | jsonify }},
  "url": {{ author.gravatar | escape | jsonify }},
  "image": {{ author.gravatarimage | escape | jsonify }},
  {%- if author.mastodon -%}
  "sameAs": {{ author.mastodon.url | escape | jsonify }},
  {%- endif -%}
  "jobTitle": {{ author.jobtitle | escape | jsonify }},
  "worksFor": {
    "@type": "Organization",
    "name": "Sticky Weather"
  }
}
</script>