<br>
<div class="inline-subscribe">
  <img src="/assets/media/Dogwood Blossom.png/" loading="lazy" style="margin-bottom: 0.5em; margin-top: 0.5em;" />
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/stickyweather"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/stickyweather', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <p id="subscribe-header">Listen:</p>
    <p id="subscribe-subheader"><em>"Subscribe to Sticky Weather"</em></p>
    <label for="bd-email">It's free, and you get new posts in your inbox. No emails about anything else, ever, and I won't beg you to become a paid subscriber. (Unless...? 🥹)</label><br>
    <input type="email" name="email" id="bd-email" placeholder="Your email address" /><br>
  
    <input type="submit" value="Subscribe" id="subscribe-button"  />
    <p>
      <a href="https://buttondown.email/refer/stickyweather" target="_blank" id="powered-by">Powered by Buttondown.</a>
    </p>
  </form>
</div>