<div class="about-me">
    <h2>About me</h2>
    <span itemprop="author" itemscope itemtype="http://schema.org/Person"></span>
    <div>
      {%- assign author = site.authors | where: "name", "Forrest Brown" | first -%}
      {%- if author -%}
        <div>
          {{ author.bio }}
        </div>
      {%- endif -%}
    </div>
</div>
<div class="homepage-subscribe">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/stickyweather"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/stickyweather', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <h2 id="sidebar-subscribe-header">Newsletter</h2>
      <input type="email" name="email" id="bd-email" placeholder="Your email address" /><br>
    
      <input type="submit" value="Subscribe" id="subscribe-button"  />
      <p>
        <a href="https://buttondown.email/refer/stickyweather" target="_blank" id="powered-by">Powered by Buttondown.</a>
      </p>
    </form>
  </div>
  <div class="about-me">
    <h2 style="padding-top: 1em;">Archives</h2>
    <ul>
      <li><a href="/archives/2025.html">2025</a></li>
      <li><a href="/archives/2024.html">2024</a></li>
      <li><a href="/archives/2023.html">2023</a></li>
    </ul>
  </div>
  <div class="about-me">
    <h2 style="padding-top: 1em;">Recommendations</h2>
    <ul>
      <li><a href="https://kingfisherchronicle.substack.com/" target="_blank">The Kingfisher Chronicle</a></li>
      <li><a href="https://write.as/malena/" target="_blank">malena's notes</a></li>
    </ul>
  </div>