<ul class="social-media-list">
  <li class="social-media-item">
    <a rel="me" href="https://theatl.social/@frrstbrwn" target="_blank" title="mastodon">
      {% include /social-icons/mastodon.svg %}
    </a>
  </li>
  <li class="social-media-item">
    <a rel="me" href="https://bsky.app/profile/frrstbrwn.bsky.social" target="_blank" title="bluesky">
      {% include /social-icons/bluesky.svg %}
    </a>
  </li>
  <li class="social-media-item">
    <a href="https://www.blogarama.com/green-blogs/1458007-sticky-weather-blog" title="Blogarama.com - Follow me on Blogarama" target="_blank">
      Blogarama - Blog Directory
    </a>
  </li>
</ul>
