// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.button {
  background-color: #fecc1a;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 2% 2% 2%;
  margin: 2% 2% 2% 2%;
}
.button:hover {
    cursor: pointer;
    background-color: #FFB219;
}

footer {
  background-color: #0d1117;
}

.read-more {
  border-bottom: 3px solid #fecc1a;
  font-style: italic;
}

.footnotes {
  h2, h3 {
    border-bottom: 3px solid #fecc1a;
    font-style: italic;
  }

  p, li {
    font-size: 0.85em;
  }
}

.keep-reading {
  list-style: none;
  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: auto;
    grid-template-areas: "continue-reading-post-meta continue-reading-post-featured-image";
  margin-left: 0;
  border-bottom: solid lightgray 1px;

  h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    grid-area: continue-reading-post-meta;
  }

  a {
    text-decoration: none !important;
  }

  span {
    font-size: 0.8em;
    margin-top: 0;
    padding-top: 0;
    grid-area: continue-reading-post-meta;
  }

  p {
    font-size: 0.85em;
    grid-area: continue-reading-post-meta;
  }

  div img {
    grid-area: continue-reading-post-featured-image;
    aspect-ratio: 1.777778 / 1;
  }
}

.final-word::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url("/assets/media/Dogwood Blossom.png") center/contain no-repeat;
  vertical-align: middle;
}

.audio-player {
  border: dotted black 2px;
  padding: 1% 2% 1% 2%;
  display: inline-block;
  width: fit-content;
  font-family: 'Rokkitt', sans-serif;
  background-color: white;
  margin-bottom: 1em;
}

.callout {
  background-color: #FFE06F;
  color: $lm-text-color;
  padding: 2%;
  border: dotted black 2px;
  font-weight: 600;
}

.inline-subscribe {
  color: $lm-text-color;
  background-color: #FFE06F;
  border: dotted black 2px;
  padding: 2% 10% 1% 10%;
  margin-bottom: 1em;
  text-align: center;
  animation: fadein 2s;

  #subscribe-header {
    font-family: 'Rokkitt', sans-serif;
    font-size: 36px;
    font-weight: 500;
  }

  #subscribe-subheader {
    font-family: 'Rokkitt', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  #subscribe-button {
    background-color: #FF6D1E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 2% 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #subscribe-button:hover {
    background-color: #FF8009;
    cursor: pointer;
  }

  #powered-by {
    font-size: 14px;
  }

}

#bd-email {
  padding: 1% 0.5% 1%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post-wrapper {
  max-width: $blog-content-width !important;
  margin-right: auto;
  margin-left: auto;
  padding: $spacing-unit * .5;
  background-color: #fdfcfa;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.blog-post-header-category {
  font-family: 'Crimson Text', serif;
  text-transform: capitalize;
}

// Begin author page styling
.author-page {
  padding: $spacing-unit * .5;
  background-color: #fdfcfa;
}

.author-title-wrapper {
  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    border-bottom: solid lightgray 1px;
    margin-bottom: 1em;
    grid-template-areas:
      "author-details author-socials";
}

.author-details {
  grid-area: author-details;

  h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

}

.author-socials {
  grid-area: author-socials;
}

.author-follow-col {
  margin-bottom: $spacing-unit * .5;
}

.author-jobtitle {
  color: lighten($text-color, 25%);
  font-family: 'Rokkitt', sans-serif;
}

.author-social-media-list {
  list-style: none;
  display: table;
  margin: 0;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 0px 12px;
      border: none;
      &:hover { border-color: $border-color-02 }
    }
    svg path {
      fill: black !important;
    }
  }
}
// End author page styling

// Begin homepage styling
.home {
  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    grid-template-areas:
      "recent-posts sidebar";
}

.recent-posts {
  grid-area: recent-posts;
  margin-right: 1em;
  padding: $spacing-unit * .5;
  background-color: #fdfcfa;
}

.sidebar {
  grid-area: sidebar;
}

.homepage-subscribe {
  margin-bottom: 1em;
  border-bottom: solid lightgray 1px;
  padding: $spacing-unit * .5;
  background-color: #fdfcfa;

  #sidebar-subscribe-header {
    font-size: $base-font-size * 1.1;
  }

  p {
    font-size: $base-font-size * 1;
  }

  #subscribe-button {
    background-color: #FF6D1E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 2% 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}

.about-me {
  padding: $spacing-unit * .5;
  background-color: #fdfcfa;
  border-bottom: solid lightgray 1px;
  font-size: $base-font-size * 1;
  margin-bottom: 1em;

  h2 {
    font-size: $base-font-size * 1.1;
  }

}

.u-photo {
  border-radius: 50%;
  width: 90px;
  padding-bottom: 1em;
}

@include media-query($on-palm) {
  .home {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "recent-posts"
          "sidebar";
  }

  .recent-posts {
    border-right: none;
  }
  
  .sidebar {
    padding-left: 0;
  }

  .about-me {
    font-size: 20px !important;

    h2 {
      font-size: 1.75rem;
    }

  }

  .homepage-subscribe {
    border-bottom: 0;

    p {
      font-size: 20px;
    }

    #sidebar-subscribe-header {
      font-size: 1.75rem;
    }

    }

  }

// End homepage styling

// Begin weather and time styling
.weather-container {
    background: black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    font-size: 0.8em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.1em 2em 0em 2em;
    
    /* Sticky banner properties */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.ticker-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#location {
    font-size: 0.9em;
    &::after {
      content: '|';
      padding: 0em 1em;
    }
}

.mobile-duplicate {
    display: none !important;
}

/* Mobile ticker animation */
@media (max-width: 768px) {
    .weather-container {
        justify-content: flex-start;
        padding: 0.1em 0;
        overflow: hidden;
    }
    
    .mobile-duplicate {
        display: flex !important;
    }
    
    .ticker-content {
        animation: ticker 25s linear infinite;
        padding-left: 100%;
    }
    
    @keyframes ticker {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    
    .weather-container:hover .ticker-content {
        animation-play-state: paused;
    }
}

/* Add padding to body so content doesn't hide under banner */
body {
    padding-top: 2.3em;
}

.item {
    margin: 0;
    font-size: 0.9em;
    font-family: $base-font-family, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    flex-shrink: 0;
}

.weather-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.8em;
}

.wi {
    font-size: 0.8em;
}

.time-item {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    &::after {
      content: 'ET';
      padding-left: 0.5em;
    }
}

.time-item a {
    text-decoration: none;
    color: white;
}

.time-item a:hover {
    text-decoration: underline;
}

.loading {
    font-style: italic;
}

.error {
    color: #cc0000;
}
// End weather and time styling