// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.button {
  background-color: #fecc1a;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 2% 2% 2%;
  margin: 2% 2% 2% 2%;
}
.button:hover {
    cursor: pointer;
    background-color: #FFB219;
}

footer {
  background-color: #0d1117;
}

.read-more {
  border-bottom: 3px solid #fecc1a;
  font-style: italic;
}

.keep-reading {
  list-style: none;
  display: block;
  margin-left: 0;
}

.final-word::after {
  content: url("/assets/media/Dogwood Blossom.png");
  display: inline-block;
  transform: scale(0.5);
  vertical-align: middle;
}

.callout {
  background-color: #FFE06F;
  filter: drop-shadow(5px 5px 2px #66520A);
  padding: 2%;
  border: dotted black 2px;
  font-weight: 600;
}