// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.button {
  background-color: #fecc1a;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 2% 2% 2%;
  margin: 2% 2% 2% 2%;
}
.button:hover {
    cursor: pointer;
    background-color: #FFB219;
}

footer {
  background-color: #0d1117;
}

.read-more {
  border-bottom: 3px solid #fecc1a;
  font-style: italic;
}

.keep-reading {
  list-style: none;
  display: block;
  margin-left: 0;
}

.final-word::after {
  content: url("/assets/media/Dogwood Blossom.png");
  display: inline-block;
  transform: scale(0.5);
  vertical-align: middle;
}

.callout {
  background-color: #FFE06F;
  color: $lm-text-color;
  padding: 2%;
  border: dotted black 2px;
  font-weight: 600;
}

.inline-subscribe {
  color: $lm-text-color;
  background-color: #FFE06F;
  border: dotted black 2px;
  padding: 2% 10% 1% 10%;
  margin-bottom: 1em;
  text-align: center;
  animation: fadein 2s;

  #subscribe-header {
    font-family: 'Rokkitt', sans-serif;
    font-size: 36px;
    font-weight: 500;
  }

  #subscribe-subheader {
    font-family: 'Rokkitt', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  #subscribe-button {
    background-color: #FF6D1E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 2% 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #subscribe-button:hover {
    background-color: #FF8009;
    cursor: pointer;
  }

  #powered-by {
    font-size: 14px;
  }

}

#bd-email {
  padding: 1% 0.5% 1%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

// Begin homepage styling
.home {
  display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    grid-template-areas:
      "recent-posts sidebar";
}

.recent-posts {
  grid-area: recent-posts;
  border-right: solid lightgray 1px;
  margin-right: 1em;
  padding-right: 1em;
}

.sidebar {
  grid-area: sidebar;
}

.homepage-subscribe {
  margin-top: 1em;
  border-bottom: solid lightgray 1px;

  #sidebar-subscribe-header {
    font-size: $base-font-size * 1.1;
  }

  p {
    font-size: $base-font-size * 1;
  }

  #subscribe-button {
    background-color: #FF6D1E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 2% 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}

@include media-query($on-palm) {
  .home {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "recent-posts"
          "sidebar";
  }

  .recent-posts {
    border-right: none;
  }
  
  .sidebar {
    padding-left: 0;
  }

  .about-me {
    font-size: $base-font-size;

    h2 {
      font-size: relative-font-size(1.75);
    }

  }

  .homepage-subscribe {
    #sidebar-subscribe-header {
      font-size: $base-font-size;
    }
  }

}
.about-me {
  border-bottom: solid lightgray 1px;
  font-size: $base-font-size * 1;

  h2 {
    font-size: $base-font-size * 1.1;
    border-bottom: solid lightgray 1px;
  }

}

// End homepage styling