// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.button {
  background-color: #fecc1a;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 2% 2% 2%;
  margin: 2% 2% 2% 2%;
}
.button:hover {
    cursor: pointer;
    background-color: #FFB219;
}

footer {
  background-color: #0d1117;
}

.read-more {
  border-bottom: 3px solid #fecc1a;
  font-style: italic;
}

.keep-reading {
  list-style: none;
  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: auto;
    grid-template-areas: "continue-reading-post-meta continue-reading-post-featured-image";
  margin-left: 0;
  border-bottom: solid lightgray 1px;

  h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    grid-area: continue-reading-post-meta;
  }

  a {
    text-decoration: none !important;
  }

  span {
    font-size: 0.8em;
    margin-top: 0;
    padding-top: 0;
    grid-area: continue-reading-post-meta;
  }

  p {
    font-size: 0.85em;
    grid-area: continue-reading-post-meta;
  }

  div img {
    grid-area: continue-reading-post-featured-image;
    aspect-ratio: 1.777778 / 1;
  }
}

.final-word::after {
  content: url("/assets/media/Dogwood Blossom.png");
  display: inline-block;
  transform: scale(0.5);
  vertical-align: middle;
}

.callout {
  background-color: #FFE06F;
  color: $lm-text-color;
  padding: 2%;
  border: dotted black 2px;
  font-weight: 600;
}

.inline-subscribe {
  color: $lm-text-color;
  background-color: #FFE06F;
  border: dotted black 2px;
  padding: 2% 10% 1% 10%;
  margin-bottom: 1em;
  text-align: center;
  animation: fadein 2s;

  #subscribe-header {
    font-family: 'Rokkitt', sans-serif;
    font-size: 36px;
    font-weight: 500;
  }

  #subscribe-subheader {
    font-family: 'Rokkitt', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  #subscribe-button {
    background-color: #FF6D1E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 2% 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  #subscribe-button:hover {
    background-color: #FF8009;
    cursor: pointer;
  }

  #powered-by {
    font-size: 14px;
  }

}

#bd-email {
  padding: 1% 0.5% 1%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.post-wrapper {
  max-width: $blog-content-width !important;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * .5;
  padding-left: $spacing-unit * .5;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.blog-post-header-category {
  font-family: 'Crimson Text', serif;
  text-transform: capitalize;
}

// Begin author page styling
.author-title-wrapper {
  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    border-bottom: solid lightgray 1px;
    margin-bottom: 1em;
    grid-template-areas:
      "author-details author-socials";
}

.author-details {
  grid-area: author-details;

  h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

}

.author-socials {
  grid-area: author-socials;
}

.author-follow-col {
  margin-bottom: $spacing-unit * .5;
}

.author-jobtitle {
  color: lighten($text-color, 25%);
  font-family: 'Rokkitt', sans-serif;
}

.author-social-media-list {
  list-style: none;
  display: table;
  margin: 0;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 0px 12px;
      border: none;
      &:hover { border-color: $border-color-02 }
    }
    svg path {
      fill: black !important;
    }
  }
}
// End author page styling

// Begin homepage styling
.home {
  display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    grid-template-areas:
      "recent-posts sidebar";
}

.recent-posts {
  grid-area: recent-posts;
  margin-right: 1em;
  padding-right: 1em;
}

.sidebar {
  grid-area: sidebar;
}

.homepage-subscribe {
  margin-top: 1em;
  border-bottom: solid lightgray 1px;

  #sidebar-subscribe-header {
    font-size: $base-font-size * 1.1;
  }

  p {
    font-size: $base-font-size * 1;
  }

  #subscribe-button {
    background-color: #FF6D1E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 2% 2% 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

}

.about-me {
  border-bottom: solid lightgray 1px;
  font-size: $base-font-size * 1;

  h2 {
    font-size: $base-font-size * 1.1;
  }

}

@include media-query($on-palm) {
  .home {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "recent-posts"
          "sidebar";
  }

  .recent-posts {
    border-right: none;
  }
  
  .sidebar {
    padding-left: 0;
  }

  .about-me {
    font-size: 20px !important;

    h2 {
      font-size: 1.75rem;
    }

  }

  .homepage-subscribe {
    border-bottom: 0;

    p {
      font-size: 20px;
    }

    #sidebar-subscribe-header {
      font-size: 1.75rem;
    }

    }

  }

// End homepage styling

// Begin portfolio styling

.profile-header {
  display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    column-gap: 10%;
  border-bottom: solid dimgray 1px;
  padding-bottom: 2%;

  @include media-query($on-palm) {
    padding-bottom: 5em;
  }

}

.profile-details {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
  row-gap: 2%;

  @include media-query($on-palm) {
    grid-template-rows: 15% 70% 15%;
  }

}

.portfolio-photo {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
}

.portfolio-title {
  grid-column: 1;
  grid-row: 1;
}

.portfolio-bio {
  grid-column: 1;
  grid-row: 2;
}

.portfolio-linkedin {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.portfolio-contact {
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  button {
    background-color: $brand-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 700;
    color: black;
    border: none;
    padding: 1% 2% 1%;
    border-radius: 8px;
  }

  button:hover {
    background-color: #FFB219;
    cursor: pointer;
  }

  @include media-query($on-palm) {
    button {
      padding: 3% 10% 3%;
    }
  }

}

.featured_content {
  display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 3%;
      row-gap: 3%;
      padding-bottom: 2em;
  
  @include media-query($on-palm) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .client-attribution {
    color: dimgray;
    font-size: $base-font-size*0.9;
  }

  .content-date {
    color: dimgray;
    font-size: $base-font-size*0.9;
  }

  div {

    a {
      color: black;
      }

    }

  #content1 {
    grid-column: 1;
    grid-row: 1;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 1;
    }

  }

  #content2 {
    grid-column: 2;
    grid-row: 1;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 2;
    }

  }

  #content3 {
    grid-column: 3;
    grid-row: 1;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 3;
    }

  }

  #content4 {
    grid-column: 1;
    grid-row: 2;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 4;
    }

  }

  #content5 {
    grid-column: 2;
    grid-row: 2;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 5;
    }

  }

  #content6 {
    grid-column: 3;
    grid-row: 2;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 6;
    }

  }

  #content7 {
    grid-column: 1;
    grid-row: 3;

    @include media-query($on-palm) {
      grid-column: 1;
      grid-row: 7;
    }

  }

}

// End portfolio styling