---
layout: base
---

<div class="home">
<div class="recent-posts">
     {%- if page.title -%}
      <h1 class="post-list-heading">{{ page.title }}</h1>
     {%- endif -%}
    {%- if page.description -%}
    <div style="border-bottom: solid lightgray 1px; margin-bottom: 1em; padding-bottom: 1em; font-size: 0.825em;">
      {{ page.description }}
    </div>
    {%- endif -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- assign post_year = post.date | date: '%Y' -%}
      {%- if post_year == page.year -%}
      <li>
        <span><a href="{{ post.url | relative_url }}"><img src="{{ post.featured_image }}.webp" alt="{{ post.alt }}" width="300" height="168"></a></span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>{{ post.excerpt }}</p>
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
</div>
</div>