<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- include author-schema.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- assign author = site.authors | where: "name", "Forrest Brown" | first -%}
        <figure>
          {%- if author.gravatarimage -%}
            {%- for gravatarimage in author.gravatarimage -%}
               <div>
                <picture>
                  <source type="image/webp" srcset="{{ gravatarimage }}.webp">
                  <img src="{{ gravatarimage }}.jpg" alt="A photo of {{ author.name }}." style="border-radius: 50%;">
                </picture>
               </div>
             {%- endfor -%}
          {%- endif -%}
          </figure>
        <div>
            {%- if author -%}
            <h1>{{ author.name }}</h1>
            {%- endif -%}

            <div>
            {%- if author.mastodon -%}
            <a href="{{ author.mastodon.url }}" target="_blank">Mastodon</a>
            {%- endif -%}

            {%- if author.bluesky -%}
            , <a href="{{ author.bluesky.url }}" target="_blank">Bluesky</a> 
            {%- endif -%}

            {%- if author.facebook -%}
            , <a href="{{ author.facebook.url }}" target="_blank">Facebook</a>
            {%- endif -%}
            </div>

            {%- if author.bio -%}
            <h2>Biography:</h2>
            <div>{{ author.bio }}</div>
            {%- endif -%}

        </div>
        {{ content }}
        <div>
          <h2 class="">Latest by Forrest Brown</h2>
          {%- for post in site.posts limit:5 -%}
          {%- if post.author == "Forrest Brown" -%}
          <ul class="keep-reading">
            <li>
              <a href="{{ post.url | relative_url }}">
                <p>{{ post.title | escape }}</p>
              </a>
            </li>
          </ul>
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
