<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {%- include author-schema.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper author-page">
        {%- assign author = site.authors | where: "name", "Forrest Brown" | first -%}
        <figure>
          {%- if author.gravatarimage -%}
            {%- for gravatarimage in author.gravatarimage -%}
               <div>
                <picture>
                  <source type="image/webp" srcset="{{ gravatarimage }}.webp">
                  <img src="{{ gravatarimage }}.jpg" alt="A photo of {{ author.name }}." style="border-radius: 50%; aspect-ratio: 1 / 1; width: 90px;">
                </picture>
               </div>
             {%- endfor -%}
          {%- endif -%}
          </figure>
        <div class="author-title-wrapper">
        <div class="author-details">
            {%- if author -%}
            <h1>{{ author.name }}</h1>
            {%- endif -%}
            {%- if author.jobtitle -%}
            <div class="author-jobtitle">{{ author.jobtitle }}</div>
            {%- endif -%}
            </div>
            <div class="author-socials">
            <div class="author-follow-col">
              <ul class="contact-list">
                <li>
                  <ul class="author-social-media-list">
                    <li>
                      {%- if author.mastodon -%}
                      <a href="{{ author.mastodon }}" target="_blank" title="mastodon">{% include /social-icons/mastodon.svg %}</a>
                     {%- endif -%}
                    </li>
                    <li>
                     {%- if author.bluesky -%}
                     <a href="{{ author.bluesky }}" target="_blank" title="blueskey">{%- include /social-icons/bluesky.svg -%}</a> 
                     {%- endif -%}
                    </li>
                    <li>
                     {%- if author.facebook -%}
                     <a href="{{ author.facebook }}" target="_blank" title="facebook">{%- include /social-icons/facebook.svg -%}</a> 
                     {%- endif -%}
                    </li>
                  </ul>
                </li>
              </ul>  
          </div>
        </div>
      </div>
              {%- if author.bio -%}
        <div>{{ author.bio }}</div>
        {%- endif -%}  
      <div>
          <h2 class="">Latest by Forrest Brown</h2>
          {%- for post in site.posts limit:5 -%}
          {%- if post.author == "Forrest Brown" -%}
          <ul class="keep-reading">
            <li>
              <div><a href="{{ post.url | relative_url }}"><img src="{{ post.featured_image }}.webp" alt="{{ post.alt }}" width="160" height="90"></a></div>
              <h4><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
              <span>{{ post.date | date: "%b %-d, %Y" }}</span>
              <p>{{ post.excerpt }}</p>
            </li>
          </ul>
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
