<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="post-wrapper">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.category -%}
      {% for category in page.category %}
        <div class="post-meta blog-post-header-category" itemprop="category">
          <a href="/category/{{ category }}.html"><em>{{ category }}</em></a>
        </div>
      {% endfor %}
    {%- endif -%}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      {%- if page.excerpt -%}
        {% for excerpt in page.excerpt %}
           <span class="">{{ excerpt }}</span>
        {% endfor %}
      {%- endif -%}
    </p>
    <p class="post-meta">
      {%- if page.author -%}
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">By <strong><a href="/author/forrest-brown.html">Forrest Brown</a></strong></span><br>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
    </p>
    <figure>  
      {%- if page.featured_image -%}
        {%- for featured_image in page.featured_image -%}
           <div>
            <picture>
              <source type="image/webp" srcset="{{ featured_image }}.webp">
              <img src="{{ featured_image }}.jpg" alt="{{ page.alt }}" loading="lazy">
            </picture>
           </div>
         {%- endfor -%}
      {%- endif -%}
      {%- if page.image_credit -%}
          <figcaption>{%- for photographer in page.photographer -%}<span>Photo by {{ photographer }} </span>{%- endfor -%}<span>{%- for photo_source in page.photo_source -%} (<a href="{{ photo_source }}" target="_blank">Source</a>){%- endfor -%}</span></figcaption>
      {%- endif -%}
      </figure>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.audio -%}
      {%- for audio in page.audio -%}
    <div class="audio-player">
      <div><em>Listen to this article:</em></div>
      <audio style="padding-bottom: 0.5em;" loading="lazy" controls controlslist="nodownload nofullscreen">
        <source src="{{ audio }}" type="audio/mpeg">
      </audio>
    </div>
      {%- endfor -%}
    {%- endif -%}
    {{ content }}
  </div>
  <div>
    <h3 class="read-more">More from Sticky Weather</h3>
    {%- for post in site.posts limit:5 -%}
    {% if post.url != page.url %}
    <ul class="keep-reading">
      <li>
        <div><a href="{{ post.url | relative_url }}"><img src="{{ post.featured_image }}.webp" alt="{{ post.alt }}" width="160" height="90"></a></div>
        <h4><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h4>
        <span>{{ post.date | date: date_format }}</span>
        <p>{{ post.excerpt }}</p>
      </li>
    </ul>
    {% endif %}
    {%- endfor -%}
  </div>
  <div>
    <h3 class="read-more">Discussion about this post</h3>
    {% if page.comments %}
    <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://stickyweather.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
</div>
</main>

{%- include footer.html -%}

</body>

</html>