---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      {%- if page.excerpt -%}
        {% for excerpt in page.excerpt %}
           <span class="">{{ excerpt }}</span>
        {% endfor %}
      {%- endif -%}
    </p>
    <p class="post-meta">
      {%- if page.author -%}
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">By <strong>{{ author }}</strong>, the founder of Sticky Weather and the former creator and host of the podcast <a href="https://storiesforearth.com" target="_blank"><strong>Stories for Earth</strong></a>. Forrest has also contributed to <em><a href="https://www.facingsouth.org/2023/07/ev-mega-deals-pit-states-against-souths-rural-communities" target="_blank"><strong>Facing South</strong></a></em> and the <em><a href="https://longnow.org/ideas/in-the-ministry-for-the-future-new-ideas-from-ancient-wisdom/" target="_blank"><strong>Long Now Foundation</strong></a></em>. He lives in Decatur, GA with his wife and cats.</span></span><br>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
    </p>
    <figure>  
      {%- if page.featured_image -%}
        {%- for featured_image in page.featured_image -%}
           <div>
            <picture>
              <source type="image/webp" srcset="{{ featured_image }}.webp">
              <img src="{{ featured_image }}.jpg" alt="{{ page.alt }}" loading="lazy">
            </picture>
           </div>
         {%- endfor -%}
      {%- endif -%}
      {%- if page.image_credit -%}
          <figcaption>{%- for photographer in page.photographer -%}<span>Photo by {{ photographer }} </span>{%- endfor -%}<span>{%- for photo_source in page.photo_source -%} (<a href="{{ photo_source }}" target="_blank">Source</a>){%- endfor -%}</span></figcaption>
      {%- endif -%}
      </figure>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div>
    <h3 class="read-more">More from Sticky Weather</h3>
    {%- for post in site.posts limit:5 -%}
    {% if post.url != page.url %}
    <ul class="keep-reading">
      <li>
        <a href="{{ post.url | relative_url }}">
          <p>{{ post.title | escape }}</p>
        </a>
      </li>
    </ul>
    {% endif %}
    {%- endfor -%}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
