name: Syndicate Social Posts

on:
  push:
    paths:
      - '_posts/social/**'
    branches:
      - master

jobs:
  syndicate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2  # Need previous commit to detect new files
      
      - name: Get new social posts
        id: new_posts
        run: |
          # Get files added in the last commit
          NEW_FILES=$(git diff --name-only --diff-filter=A HEAD~1 HEAD | grep '^_posts/social/')
          echo "files<<EOF" >> $GITHUB_OUTPUT
          echo "$NEW_FILES" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: |
          cd .github/scripts
          npm install
      
      - name: Syndicate posts
        env:
          MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          MASTODON_INSTANCE: ${{ secrets.MASTODON_INSTANCE }}
          BLUESKY_HANDLE: ${{ secrets.BLUESKY_HANDLE }}
          BLUESKY_APP_PASSWORD: ${{ secrets.BLUESKY_APP_PASSWORD }}
          SITE_URL: ${{ secrets.SITE_URL }}
        run: |
          cd .github/scripts
          node syndicate.js "${{ steps.new_posts.outputs.files }}"